h1{
    text-align: center;
    background-color:#BAA699;
 
}
h2{
    text-align: center;
    background-color:#BAA699;
}
a{
    color: #613931;
}


body{
    background-color: #F0DCCB;
}
img{

    border: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;


}
footer{
    text-align: center;
    background-color:#BAA699;
}

td{
    border: 1px solid white
}